<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
<script src="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet"/>
<script>
var limit = 10;
var offset = 0;
var num = -1;
var keyword = "";
var param = ( location.search ? location.search : '' );
var unid = '';
$(function(){
  if( param ){
    var keyvalues = param.substring( 1 ).split( '&' );
    for( var i = 0; i < keyvalues.length; i ++ ){
      var kv = keyvalues[i].split( '=' );
      if( kv.length > 1 ){
        if( kv[0] == 'unid' && kv[1] ){
          unid = kv[1];
        }
      }
    }
  }

  if( unid ){
    refresh_view();
  }
  
  $('#limit-select').change( function(){
    limit = parseInt( $("#limit-select").val() );
    refresh_view();
  });
  
  //. #91
  $('#search-text').keyup( function( e ){
    var key = e.keyCode;
    if( key == 13 ){
      keyword = $('#search-text').val();
      refresh_view();
    }
  });
});

function next_view(){
  offset += limit;
  refresh_view();
}

function prev_view(){
  if( offset > 0 ){
    offset -= limit;
  }
  if( offset < 0 ){
    offset = 0;
  }
  
  refresh_view();
}

function refresh_view(){
  var prev_str = '<a href="#" style="text-decoration:none;" onclick="prev_view();"><i class="fas fa-arrow-left"></i> prev</a>';
  var next_str = '<a href="#" style="text-decoration:none;" onClick="next_view();">next <i class="fas fa-arrow-right"></i></a>';
  if( unid ){
    $("#view_thead").html( '' );
    $("#view_tbody").html( '' );
    getDataHead( unid ).then( function( line ){
      if( line ){
        var cols = line.split( ',' );
        var tr = '<tr>';
        for( var i = 1; i < cols.length; i ++ ){
          tr += '<th>' + cols[i] + '</th>';
        }
        tr += '</tr>';
        $("#view_thead").html( tr );

        getDataBody( unid, limit, offset ).then( function( r ){  //. { lines: lines, num: n }
          if( r.lines && r.lines.length > 0 ){
            num = r.num;
            for( var j = 0; j < r.lines.length; j ++ ){
              var tr = '<tr>';
              var cols = r.lines[j].split( ',' );
              for( var k = 1; k < cols.length; k ++ ){
                tr += '<td><a target="doc" href="../documents/' + cols[0] + '.xml">' + cols[k] + '</a></td>';
              }
              tr += '</tr>';
              $("#view_tbody").append( tr );
            }
            
            var doc_start = offset + 1;
            var doc_end = offset + limit;
            if( doc_end > num ){ doc_end = num; }
            var pc2 = "( " + doc_start + " - " + doc_end + " ) / " + num;
            $("span#pagination-center-2").html( pc2 );
            if( offset > 0 ){
              $("#pagination-left-1").html( prev_str );
            }else{
              $("#pagination-left-1").html( "&nbsp;" );
            }
            
            if( offset + limit < num ){
              $("#pagination-right-1").html( next_str );
            }else{
              $("#pagination-right-1").html( "&nbsp;" );
            }            
          }else{
          }
        });
      }
    });
  }
}

async function getDataHead( view_unid ){
  var r = await getCSV( view_unid );
  if( r && r.status ){
    var csv = r.csv;
    var lines = csv.split( "\r\n" );

    return lines[0];
  }else{
    return '';
  }
}

async function getDataBody( view_unid, limit, offset ){
  var r = await getCSV( view_unid );
  if( r && r.status ){
    var csv = r.csv;
    var lines = csv.split( "\r\n" );
    lines = lines.slice( 1 );
    
    //. #91
    if( keyword ){
      var tmp = [];
      for( var i = 0; i < lines.length; i ++ ){
        if( lines[i].indexOf( keyword ) > -1 ){
          tmp.push( lines[i] );
        }
      }
      lines = tmp;
    }
    
    num = lines.length;
    
    if( offset > 0 ){
      lines = lines.slice( offset );
    }
    if( limit > 0 ){
      lines = lines.slice( 0, limit );
    }

    return { lines: lines, num: num };
  }else{
    return { lines: [], num: 0 };
  }
}

async function getCSV( view_unid ){
  return new Promise( async ( resolve, reject ) => {
    $.ajax({
      url: '../' + view_unid + '.csv',
      type: 'GET',
      headers: {
        Accept: 'text/csv; charset=utf-8',
        "Content-Type": 'text/csv; charset=utf-8'
      },
      success: function( csv ){
        //console.log( {csv} );
        resolve( { status: true, csv: csv } );
      },
      error: function( e0, e1, e2 ){
        console.log( e0, e1, e2 );
        resolve( { status: false, csv: [] } );
      }
    });
  });
}
</script>
</head>
<body>
<h3> <img src="../resources/viewlink.png"/> ($All)</h3>
<br/>

<table class="table_" style="width:100%;">
<tr>
<td style="text-align: left; width: 33%;" id="pagination-td-left-0"></td>
<td style="text-align: center; width: 34%;" id="pagination-center-0"><input id="search-text" class="form-control" placeholder="search" value=""/></td>
<td style="text-align: left; width: 33%;" id="pagination-td-right-0"></td>
</tr>
<tr>
<td style="text-align: left; width: 33%;" id="pagination-td-left-1"><div id="pagination-left-1"><a href="#" style="text-decoration:none;" onClick="prev_view();"><i class="fas fa-arrow-left"></i> prev</a></div></td>
<td style="text-align: center; width: 34%;"><span id="pagination-center-1">
# <select id="limit-select">
<option value="5">5</option>
<option value="10" selected>10</option>
<option value="20">20</option>
<option value="100">100</option>
</select>
</span></td>
<td style="text-align: right; width: 33%;" id="pagination-td-left-1"><span id="pagination-right-1"><a href="#" style="text-decoration:none;" onClick="next_view();">next <i class="fas fa-arrow-right"></i></a></span></td>
</tr>
<tr>
<td style="text-align: left;"><span id="pagination-left-2"></span></td>
<td style="text-align: center;"><span id="pagination-center-2"></span></td>
<td style="text-align: right;"><span id="pagination-right-2"></span></td>
</tr>
</table>
<br/>

<table class="table table-bordered" id="viewtable">
<thead id="view_thead">
</thead>
<tbody id="view_tbody">
</tbody>
</table>

</body>
</html>
